* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: black;
    position: relative;
    font-family: roboto, sans-serif;
    
    margin: 0;
    /* display: flex; */
   
    align-items: center;
    height: 100vh;
    
 

}

.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #020E41;
    z-index: 9999;
}

.loading-logo img {
    margin-top: 10px;
    width: 550px;
    height: 220px;
    margin-bottom: 20px;


}

.loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f7f5f5;
    border-top: 4px solid #15d4ed;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.content {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .background-image {
    width: 800px;
    height: 50px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    /* filter: blur(1px);   */

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    z-index: 9;
    display: flex;
    align-items: center;
    font-size: 15px;

}

.logo-container {
    display: flex;
    align-items: center;
}

.Diseny-logo {

    width: 100px;
    height: auto;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s ease, transform 1s ease;
}

.nav-links {
    margin-top: 9px;
    display: flex;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    margin-left: 40px;
    text-transform: capitalize;
    color: white;
    opacity: 0.9;

}

/* styling search bar */
.search-container input[type=text] {
    border: none;
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
    margin-top: 8px;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    overflow: hidden;
    transition: width 0.3sleft 0.3s;
    position: relative;
    margin-left: 50px;


}

.search-container input::placeholder {
    color: yellow;
}

.search-box {
    width: 300px;
    border-color: #1f90;
    border: 1px solid #ccc;
    position: relative;
    left: 0;


}

.search-container:hover .search-box {
    border-left-width: 400px;
    left: -100px;
    border-color: none;
    transition: 0.4s;


}

.search-container:hover {
    border-bottom: 1px solid rgb(232, 225, 225);

    .search-box {
        border-bottom: 1px solid rgb(20, 19, 19);
    }

}



.search-container {

    margin-top: 7px;
    display: inline-block;
    overflow: hidden;
    transition: width 0.3s, left 0.3s;
    position: relative;
    margin-left: 50px;
}

.search button {
    background-color: black;
    color: black;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    background: none;

}

.login {
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background: #f1c40f;
    border-radius: 1em;
    padding: .5em 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.login:hover {
    background-color: bisque;
}

.Login-Button:hover {
    background-color: bisque !important;
}


.Login-Button {
    background-color: #f1c40f;
    border: none;
    font-size: 18px;
}

.carousel-container{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}

.carousel{
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;

}
.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgbs(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
    
    
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
 
} 

.slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background:  linear-gradient(to right, #080808 70%, transparent);
    color: rgb(216, 204, 204);
 
}

.movie-tile{
    text-transform: capitalize;
    padding-left: 50px;
    margin-top: 80px;
    opacity: 0;
    font-size: 24px;
    animation: fadeIn 4s forwards;
}

.movie-des{
    width: 80%;
    line-height: 40px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}

.slider img{

    /* background-image: url('your_image_url_here'); */
    background-size: cover;
    animation: slideIn 1s ease-in;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } 
  

  
  .video-card-container {
    position: relative;
    width: 92%;
    margin-top: 10px;
    margin-left:50px ;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
 }

 .video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
 }
 .video-card-image,
 .card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .card-video {
    position: relative;
 }

 .video-card:hover .video-card-image {
    display: none;
 }

 .title {
    color: #fff;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
 }

 .movies-list {
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
 }

 .card-container {
    position: absolute;
    width: 96%;
    padding-left: 4%;
    height: 220PX;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
 }

 .card-container::-webkit-scrollbar {
    display: none;
 }

 .card {
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    transition: .5s;
    background: #000;
 }
 .card:hover {
    transform: scale(1.1);
 }
 .card:hover .card-body {
    opacity: 1;
 }

 .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
 }

 .card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
 }

 .name {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
 }

 .des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
 }

 .watchlist-btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
 }

 .watchlist-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url(images/add.png);
    background-size: cover;
    transform: scale(0.4);
 }

 .watchlist-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
 }

 .pre-btn,
 .nxt-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
 }

 .pre-btn {
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
 }

 .nxt-btn {
    right: 0;
    background: linear-gradient(to left, #0c111b 0%, #0c111b00);
 }

 .pre-btn img,
 .nxt-btn img {
    width: 15px;
    height: 20px;
    opacity: 0;
 }
 
 .pre-btn:hover img,
 .nxt-btn:hover img {
    opacity: 1;
 }


 /* Add your existing styles here */

/* Add styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 20, 20, 0.5);
    overflow: hidden;
  }
  
  .login-model{
    background-color: #020E41;
    overflow-y: hidden;
    
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #afb1a5;
    /* padding: 5px; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height:100%;
    max-width: 800px;
    max-height : 500px;
    border: none;
    overflow: hidden;
    border-radius: 20px;

  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
  }
  

  iframe {
    width: 100%;
    height: 100%; 
    scrollbar-width: none; 
    overflow-y: hidden ; 
 
   
  }
  
 